<form>
	<fieldset>
	<legend>canvas generator</legend>
		<fieldset>
		<!-- shapes to draw, amount,  -->
		<table>
		<th>shape</th>
		<th>lines</th>
		<th>triangles</th>
		<th>squares</th>
		<th>circles</th>
		<th>hexagons</th><br>
		<tr>
			<td><p>max amount</p></td>
			<td><input type="number" name="linesNumber" id="fLinesNumber" min="0" max="3" ng-model="draw.fLinesNumber"></td>
			<td><input type="number" name="trianglesNumber" id="fTrianglesNumber" min="0" max="3" ng-model="draw.fTrianglesNumber"></td>
			<td><input type="number" name="squaresNumber" id="fSquaresNumber" min="0" max="3" ng-model="draw.fSquaresNumber"></td>
			<td><input type="number" name="circlesNumber" id="fCirclesNumber" min="0" max="3" ng-model="draw.fCirclesNumber"></td>
			<td><input type="number" name="hexagonsNumber" id="fHexagonsNumber" min="0" max="3" ng-model="draw.fHexagonsNumber"></td>
		</tr>
		</table>
		<aside id="aside1">
		</aside>
		<aside id="aside2">
			
		</aside>
		<aside id="aside3">
			
		</aside>
		<aside id="aside4">
			
		</aside>
		</fieldset>

		<button type="submit" value="drawn" id="drawn" ng-click="draw.initialize()">Draw</button>
	</fieldset>
</form>